@import url('https://fonts.googleapis.com/css2?family=Khula:wght@700;800&display=swap');

.projects_title {
    color: white;
    font-size: 3em;
    font-family: Khula;
    text-align: center;
    font-weight: 800;
}

.penguinPost {
    margin-bottom: 2%;
    margin-left: 15%;
    height: 200px;
    width: 70%;
}