.projects_title {
    text-align: center;
    font-family: 'Khula';
    font-weight: 800;
    text-decoration: underline;
    margin-top: 200px;
    padding-bottom: 20px;
    font-size: 4rem;
    color: white
}
.carousel {
    height: 40vh;
    width: 40%;
    margin: auto;
    display: flex;
}

.carouselInner {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.carouselInner .left {
    flex: 7%;
    height: 100%;
    /* background-color: rgb(0, 0, 0, 0.2); */
    display: grid;
    place-items: center;
    color: #ee5b18;
    cursor: pointer;
}

.carouselInner .center {
    flex: 86%;
    height: 100%;
    display: grid;
    place-items: center;
    font-family: 'Khula';
    text-align: justify;
    text-align: center;
}

.carouselInner .right {
    flex: 7%;
    height: 100%;
    /* background-color: rgb(0, 0, 0, 0.2); */
    display: grid;
    place-items: center;
    color: #ee5b18;
    cursor: pointer;
}

.center h1 {
    font-size: 5rem;
    background-color: rgb(255, 255, 255, 0.5);
    padding: 1%;
}

.center p {
    font-size: 2rem;
    background-color: rgb(255, 255, 255, 0.5);
    padding: 1%;
}