
.home_con .title {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

.home_con .title h1 {
    color: white;
    font-size: 5rem;
    font-family: Khula;
    font-weight: 800;
    text-decoration: underline;
}

.home_con p {
    color: white;
    font-weight: 900;
}