

.home_con {
    color: white;
    font-family: Khula;
    margin: 2% auto;
}

.title{
    font-size: 3em;
    text-align: center;
    margin-top: 35%;
    margin-bottom: 0;
    font-weight: 800;
}

.desc {
    font-size: 1.5em;
    text-align: center;
    font-weight: 800;
}

.headshot_img {
    margin-top: 2%;
}