.footer {
    margin: 3% auto;
}
.linkedin {
    height: 40px;
    width: 40px;
}

.github {
    height: 50px;
    width: 50px;
}

.gh_icon {
    padding: 0 6px 0 0;
    text-align: right;
}

.li_icon {
    padding: 5px 0 0 6px;
}