@import url('https://fonts.googleapis.com/css2?family=Khula:wght@700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: 'Khula';
  --text-primary: white;
}

/* making sure that navbar doesn't overlap main content */
main {
  padding: 1rem;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../src/assets/images/Hubble.jpeg') no-repeat center center/cover;
  height: 100vh;
}

/* Utilities */

.btn {
  height: 2.6rem;
  width: 150px;
  margin: 1%;
  text-align: center;
  color: White;
  border: 2px solid white;
  transition-delay: .1s;
}

.btn:hover {
  background: bisque;
}

.container {
padding-left: 5rem;
}