@import url('https://fonts.googleapis.com/css2?family=Khula:wght@700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: 'Khula';
  --text-primary: white;
}

/* making sure that navbar doesn't overlap main content */
main {
  margin-left: 5rem;
  padding: 1rem;
  background-color: black;
  height: 100vh;
}


