.navbar {
    width: 5rem;
    background-color: #7d7054;
    opacity: 0.7;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.navbar i {
    color: #ee5b18;

}

.navbar i:hover {
    color: bisque;
}


.navbar ul li {
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;

}


