.navbar {
    width: 5rem;
    background-color: #31302e;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
}

.navbar:hover {
}

.navbar:hover .link-text {
    display: block;
}



.navbar ul li {
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;

}


